.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
  display: block;
  margin-top: 10px;
}

.input-container {
  text-align: center;
  max-width: 350px ;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  display: inline-flex;
  flex-direction: column;
  padding: 40px 40px ;
}

#wrap{
  word-break:break-word; width: 580px;
}

.movies{
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  width: 350px;
  padding: 20px;
}